* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url(https://www.transparenttextures.com/patterns/cubes.png); */
  height: 100vh;
  /* background-color: #fafafa; */
}

.app__header {
  background-image: url(https://www.transparenttextures.com/patterns/cubes.png), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
  object-fit: contain;
  /* padding: 20px; */
  border-bottom: 1px solid black;
}

.app__headerImage {
  height: 50px;
  width: 50px;
}